<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="layout-footer">
        <div class="footer-logo-container">
            <p:graphicImage id="footer-logo" library="diamond-layout"
                            name="images/#{guestPreferences.scheme eq 'light' ? 'logo-dark.svg' : 'logo-white.svg'}"/>
            <span class="app-name">#{pagina['app.nombre']} - #{pagina['app.sistema']}</span>
        </div>
        <h:outputText styleClass="copyright" value="#{pagina['app.autor']}"/>
    </div>
</ui:composition>
