<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:d="http://primefaces.org/diamond">

    <div class="layout-sidebar">
        <h:link class="logo" outcome="/administracion/index">
            <p:graphicImage id="app-logo" styleClass="logo-image"
                            name="images/#{guestPreferences.logoColor eq 'white' ? 'logo-white.svg' : 'logo-dark.svg'}"
                            library="diamond-layout"/>
            <span class="app-name uppercase">#{pagina['app.nombre']}</span>
        </h:link>

        <div class="layout-menu-container">
            <h:form id="sidebar-form">
                <d:menu widgetVar="diamondMenuWidget" model="#{menuVista.menuModel}"/>
            </h:form>
        </div>
    </div>
</ui:composition>
