<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <link rel="shortcut icon" href="#{request.contextPath}/resources/diamond-layout/images/favicon.ico"
              type="image/x-icon"/>
        <link rel="icon" href="#{request.contextPath}/resources/diamond-layout/images/favicon.ico" type="image/x-icon"/>
    </f:facet>
    <title><ui:insert name="title">PrimeFaces Diamond</ui:insert></title>
    <h:outputScript name="js/layout.js" library="diamond-layout"/>
    <h:outputScript name="js/prism.js" library="diamond-layout"/>
    <h:outputScript name="js/nprogress.js" library="app-layout" />
	<h:outputScript name="js/app-script.js" library="app-layout" />
    <ui:insert name="head"/>
</h:head>

<h:body styleClass="#{guestPreferences.inputStyleClass}">
    <div class="layout-wrapper #{guestPreferences.layoutClass} #{guestPreferences.sidebarThemeClass}"
         data-theme="#{guestPreferences.menuTheme}">
        <ui:include src="./sidebar.xhtml"/>
        <ui:include src="./sidebar-right.xhtml"/>
        <ui:include src="./config.xhtml"/>

        <div class="layout-content-wrapper">
            <ui:include src="./topbar.xhtml">
                <ui:param name="viewname" value="#{viewname}"/>
            </ui:include>
            <div class="layout-content">
                <ui:insert name="content"/>
            </div>
            <ui:include src="./footer.xhtml"/>
        </div>

        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <i class="pi pi-spin pi-spinner layout-ajax-loader-icon" aria-hidden="true"/>
            </f:facet>

            <f:facet name="complete">
                <h:outputText value=""/>
            </f:facet>
        </p:ajaxStatus>

        <ui:include src="./search.xhtml"/>
        <div class="layout-mask modal-in"></div>
    </div>
    <script>
		$("body").show();
		$(".version").text(NProgress.version);
		NProgress.start();
		setTimeout(function () {
			NProgress.done();
			$(".fade").removeClass("out");
		}, 1000);
	</script>
    <h:outputStylesheet name="css/primeicons.css" library="diamond-layout"/>
    <h:outputStylesheet name="css/primeflex.min.css" library="diamond-layout"/>
    <h:outputStylesheet id="layout-scheme" name="css/layout-#{guestPreferences.scheme}.css" library="diamond-layout"/>
    <h:outputStylesheet name="css/nprogress.css" library="app-layout" />
    <h:outputStylesheet name="css/layout_light.css" library="app-layout" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.15.2/css/all-jsf.css" />
</h:body>

</html>
