<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="shortcut icon" href="#{request.contextPath}/resources/diamond-layout/images/favicon.ico" type="image/x-icon"></link>
            <link rel="icon" href="#{request.contextPath}/resources/diamond-layout/images/favicon.ico" type="image/x-icon"></link>
        </f:facet>
        <title>PrimeFaces Diamond - Error</title>
    </h:head>

    <h:body styleClass="exception-body error">
        <p:graphicImage name="images/logo-white.svg" styleClass="logo" library="diamond-layout" />
        <div class="exception-content">
            <div class="exception-title">#{pagina['excepcion.error.titulo']}</div>
            <div class="exception-detail">#{pagina['excepcion.error.detalle']}</div>
            <h:link outcome="/administracion/index">#{pagina['enlace.dashboard']}</h:link>
             <p:link href="#" onclick="PF('exceptionDialog').show();">
                <h:outputText value="#{pagina['enlace.excepcion']}"/>
            </p:link>
        </div>
        <p:dialog 
        	id="exceptionDialog"
			header="Exception '#{pfExceptionHandler.type}' occured!"
			widgetVar="exceptionDialog"
			showEffect="fade" 
			hideEffect="fade"
			height="500px"
			width="900px">
	           <div class="text-justify text-nowrap" >
	               Message: #{pfExceptionHandler.message} <br/>
	               StackTrace: <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false"/> 
	           </div>                    
       </p:dialog>
        <h:outputStylesheet name="css/layout-light.css" library="diamond-layout" />
        <h:outputStylesheet name="css/primeflex.min.css" library="diamond-layout" />
    </h:body>

</html>