<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="shortcut icon" href="#{request.contextPath}/resources/diamond-layout/images/favicon.ico" type="image/x-icon"></link>
            <link rel="icon" href="#{request.contextPath}/resources/diamond-layout/images/favicon.ico" type="image/x-icon"></link>
        </f:facet>
        <title>#{pagina['app.nombre']} - #{pagina['excepcion.sesion.titulo']}</title>
    </h:head>

    <h:body styleClass="exception-body access">
        <p:graphicImage name="images/logo-white.svg" styleClass="logo" library="diamond-layout" />
        <div class="exception-content">
            <div class="exception-title">#{pagina['excepcion.sesion.titulo']}</div>
            <div class="exception-detail">#{pagina['excepcion.sesion.detalle']}</div>
            <h:link outcome="/administracion/index">#{pagina['enlace.dashboard']}</h:link>
        </div>
        <h:outputStylesheet name="css/layout-light.css" library="diamond-layout" />
    </h:body>

</html>