.badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px; }
  .badge.success {
    background: #C8E6C9;
    color: #256029; }
  .badge.danger {
    background: #FFCDD2;
    color: #C63737; }
  .badge.warning {
    background: #FEEDAF;
    color: #8A5340; }
  .badge.help {
    background: #ECCFFF;
    color: #694382; }

.filter-container .ui-inputtext {
  width: 400px; }

.ui-selection-column {
  width: 2rem; }

@media (max-width: 640px) {
  .filter-container {
    width: 100%;
    margin-top: .5rem; }

  .filter-container .ui-inputtext {
    width: 100%; }

  .ui-selection-column {
    width: auto;
    text-align: center; }
    .ui-selection-column .ui-column-title {
      display: none !important; } }
pre {
  font-family: monospace;
  background: #dee2e6;
  color: #495057;
  padding: 1em;
  font-size: 14px;
  border-radius: 3px;
  overflow: auto;
  line-height: 1.5; }

.form .ui-datatable {
  margin-top: 1rem; }
.form .ui-datatable .ui-column-filter {
  display: none; }
.form .ui-dialog-footer .ui-button {
  min-width: 6rem; }
.form .dataTable .dataTable-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.form .dataTable > .ui-datatable-tablewrapper > table > thead > tr > th:nth-child(2) {
  width: 2rem; }

@media (max-width: 640px) {
  .dataTable > .ui-datatable-tablewrapper > table > thead > tr > th:nth-child(2) .ui-column-title,
  .dataTable > .ui-datatable-tablewrapper > table > tbody > tr > td:nth-child(2) .ui-column-title {
    display: none !important; } }

/*# sourceMappingURL=layout_light.css.map */
