<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="shortcut icon" href="#{request.contextPath}/resources/diamond-layout/images/favicon.ico" type="image/x-icon"></link>
            <link rel="icon" href="#{request.contextPath}/resources/diamond-layout/images/favicon.ico" type="image/x-icon"></link>
        </f:facet>
        <title>#{pagina['app.nombre']} - Login</title>
    </h:head>

    <h:body styleClass="login-body #{guestPreferences.inputStyleClass}">
        <div class="login-wrapper">
            <div class="login-panel">
                <p:graphicImage name="images/#{guestPreferences.scheme eq 'light' ? 'logo-dark.svg' : 'logo-white.svg'}" styleClass="logo" library="diamond-layout" />

                <div class="login-form lg:w-10 md:w-5 sm:w-6">
                    <h2>#{pagina['login.titulo']}</h2>
                    <p>Already have an account? <a href="#">Login</a></p>
                    <h:form prependId="false" styleClass="col-12">
						<div class="ui-fluid text-justify">
		                    <div class="field">
								<p:staticMessage severity="error" summary="ERROR"
									detail="#{mensaje['usuario.mensaje.incorrecto']}"
									styleClass="w-full" rendered="${!empty param['error']}" />
							</div>
		                    
		                    <div class="field">
								<span class="ui-input-icon-right"> <p:inputText
										id="username" label="#{pagina['login.etiqueta.usuario']}"
										placeholder="#{pagina['login.placeholder.usuario']}"
										styleClass="w-full" /> <i class="pi pi-user"></i>
								</span>
							</div>
		
							<div class="field">
								<p:password id="password"
									label="#{pagina['login.etiqueta.clave']}"
									placeholder="#{pagina['login.placeholder.clave']}"
									style="width: 100%" styleClass="w-full" toggleMask="true">
								</p:password>
							</div>
		                    <p:commandButton ajax="false" icon="pi pi-sign-in" value="#{pagina['boton.ingresar']}" />
	                	</div>
                	</h:form>
                </div>

                <p>#{pagina['login.etiqueta.error.reporte']} <a href="#">#{pagina['login.etiqueta.error.click']}</a></p>
            </div>
            <div class="login-image">
                <div class="login-image-content">
                    <h1>#{pagina['app.nombre']}</h1>
                    <h1>#{pagina['app.sistema']}</h1>
                    <h3>#{pagina['app.descripcion']}</h3>
                </div>
                <div class="image-footer">
                    <p>#{pagina['app.autor']}</p>
                    <div class="icons">
                        <i class="pi pi-github"></i>
                        <i class="pi pi-twitter"></i>
                    </div>
                </div>    
            </div>
        </div>
            
        <h:outputStylesheet id="layout-scheme" name="css/layout-#{guestPreferences.scheme}.css" library="diamond-layout" />
        <h:outputStylesheet name="css/primeflex.min.css" library="diamond-layout" />
		<h:outputStylesheet name="css/primeicons.css" library="diamond-layout" />
        
    </h:body>

</html>