<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<div class="p-col">
		<div class="card">
			<h4>Empty Page</h4>
			<p>This is your empty page template to start building beautiful
				applications.</p>
		</div>
	</div>

</ui:composition>