<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">#{pagina['app.nombre']} - #{pagina['app.sistema']}</ui:define>

	<ui:param name="viewname" value="#{navegacionVista.nombrePagina}" />

	<ui:define name="content">
		<div class="p-grid" jsf:id="panel-principal">

			<ui:include src="#{navegacionVista.enlacePagina}.xhtml" />

		</div>
	</ui:define>

</ui:composition>